.current-offers {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  padding-bottom: 5rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.product {
  width: 250px;

  border: 1px solid var(--items-border);
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  position: relative;
  margin: 1rem;
}

.product:hover {
  border: 1px solid var(--red-color);
}
.product-name h2 {
  font-size: 1rem;
  font-weight: 400;
}

.product-info {
  position: relative;
  padding: 1rem 0.3rem;
}
.product-info h2 {
  margin-bottom: 5px;
}

.product-info a {
  color: #42526e;
}
.product-info a:hover {
  color: #2875c3;
}
.price-box .price {
  color: var(--red-color);

  display: flex;
  align-items: center;
  justify-content: center;
}
.price-box .price p {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0.2rem;
}

.price-box .price span {
  font-size: 0.7rem;
  font-weight: 400;
  margin: 0;
}

.add-to-links {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 1rem;
  margin: 0 auto;
}
.add-to-links-item {
  width: 30px;
  height: 30px;
}

.red-basket {
  background-color: var(--red-color);
  margin: auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.timer {
  /* display: flex;
    align-items: center;
    justify-content: space-around; */
  padding: 0 1rem;
}

.timer p {
  color: var(--blue-color);
  font-size: 1.1rem;
  font-weight: 500;
}
.timer .clock {
  font-size: 1.3rem;
  font-weight: 600;
}

@media screen and (max-width: 400px) {
  .current-offers {
    grid-template-columns: 1fr;
  }
}
