<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <title>E-library</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/book.css" />
  </head>
  <body>
    <!-- header start -->
    <header>
      <div class="model-container">
        <div class="wrap-img">
          <ul>
            <li class="arrow left-arrow">
              <i class="fas fa-angle-left"></i>
            </li>
            <li class="arrow right-arrow">
              <i class="fas fa-angle-right"></i>
            </li>
          </ul>
          <img src="../images/American-Express-Logo.png" alt="" />
        </div>
      </div>

      <div class="section-list">
        <nav>
          <ul dir="rtl" class="header-items">
            <div class="header-item">
              <i class="fas fa-user-alt"></i>
              <li>
                <a href="#">
                  <span class="show-signup-model"> سجل الان</span>
                  <span>أو</span>
                  <span class="show-login-model">ادخل لحسابك</span>
                </a>
              </li>
            </div>
            <div class="header-item">
              <i class="fas fa-user-alt"></i>
              <li><a href="#">الرئيسية</a></li>
            </div>
            <div class="header-item">
              <i class="fas fa-user-alt"></i>
              <li><a href="#">من نحن</a></li>
            </div>
            <div class="header-item">
              <i class="fas fa-user-alt"></i>
              <li><a href="#">اتصل بنا</a></li>
            </div>
            <div class="header-item">
              <i class="fas fa-user-alt"></i>
              <li><a href="#">المساعدة</a></li>
            </div>
            <div class="header-item">
              <i class="fas fa-user-alt"></i>
              <li><a href="#">سياسةالخصوصية</a></li>
            </div>
            <div class="header-item">
              <i class="fas fa-user-alt"></i>
              <li><a href="#">اليمن</a></li>
              <li><a dir="ltr" href="#">YER</a></li>
            </div>
            <div dir="ltr" class="header-item">
              <i class="fas fa-user-alt"></i>
              <li>English</li>
            </div>
          </ul>
        </nav>
      </div>
      <div dir="rtl" class="search-header">
        <div class="logo"><img src="../images/logo.png" alt="" /></div>
        <div class="search-section">
          <div class="search-bar">
            <input id="icon" type="search" placeholder="البحث" type="text" />
          </div>

          <div class="basket">
            <i class="fas fa-user-alt"></i>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->

    <!-- main start -->
    <main dir="rtl" class="book">
      <div class="container">
        <div class="book-pictures">
          <div class="pictures-box">
            <div class="picture-container">
              <img src="../images/book1front.jpg" alt="" />
            </div>
            <div class="pictures-nav">
              <div class="small-pictures">
                <div class="img-card">
                  <img src="../images/book1front.jpg" alt="" />
                </div>
                <div class="img-card">
                  <img src="../images/book2back.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="book-details"></div>
        <div class="book-order"></div>
      </div>
    </main>

    <!-- main end -->

    <!-- footer end -->
    <footer>
      <div class="footer-lists">
        <div class="container">
          <ul class="footer__nav" dir="rtl">
            <li class="nav__item">
              <h2 class="nav__title">انضم الى نشرتنا البريدية</h2>
              <form>
                <input
                  id="icon"
                  type="text"
                  disabled
                  placeholder="ادخل البريد الابكتروني"
                />
                <button class="footer__btn" dir="ltr">اشتراك</button>
              </form>
              <h2 class="nav__title">تواصل معنا</h2>

              <ul class="nav__ul">
                <i class="fas fs-facebook-f"></i>
                <i class="fas fa-user-alt"></i>
                <i class="fas fa-user-alt"></i>
                <i class="fas fa-user-alt"></i>
                <i class="fas fa-user-alt"></i>
                <i class="fas fa-user-alt"></i>
                <i class="fas fa-user-alt"></i>
              </ul>
            </li>

            <li class="nav__item">
              <h2 class="nav__title">خدمة العملاء</h2>

              <ul class="nav__ul">
                <li>
                  <a href="#">مبيعات الشركات</a>
                </li>

                <li>
                  <a href="#">الأسئلة المتكرر</a>
                </li>

                <li>
                  <a href="#">دليل التسوق والمطبوعات</a>
                </li>

                <li>
                  <a href="#">مواقع المعارض</a>
                </li>

                <li>
                  <a href="#">سياسةالضمان</a>
                </li>

                <li>
                  <a href="#">سياسة الاسترجاع والاستبدال</a>
                </li>
                <li>
                  <a href="#">اتصل بنا </a>
                  <p>920000089</p>
                </li>
              </ul>
            </li>

            <li class="nav__item">
              <h2 class="nav__title">خدمات جرير</h2>

              <ul class="nav__ul">
                <li>
                  <a href="#">خدمة تقسيط المشتريات</a>
                </li>

                <li>
                  <a href="#">خدمات مابعد البيع</a>
                </li>

                <li>
                  <a href="#">خدمة الحماية الشاملة</a>
                </li>
                <li>
                  <a href="#">خدمة أجهزة ابل</a>
                </li>

                <li>
                  <a href="#">بطاقة خصم جرير</a>
                </li>

                <li>
                  <a href="#">بطاقة جرير للهدايا</a>
                </li>
              </ul>
            </li>

            <li class="nav__item">
              <h2 class="nav__title">روابط سريعة</h2>

              <ul class="nav__ul">
                <li>
                  <a href="#">اصدارات جرير</a>
                </li>

                <li>
                  <a href="#">قارئ جرير</a>
                </li>

                <li>
                  <a href="#">شركاء برامج المكافئات</a>
                </li>
                <li>
                  <a href="#">خدمات شركات الاتصالات</a>
                </li>

                <li>
                  <a href="#">بطاقة خصم جرير</a>
                </li>

                <li>
                  <a href="#">بطاقة جرير للهدايا</a>
                </li>
              </ul>
            </li>

            <li class="nav__item">
              <h2 class="nav__title">عن جرير</h2>

              <ul class="nav__ul">
                <li>
                  <a href="#">من نحن</a>
                </li>

                <li>
                  <a href="#">الحوكمة</a>
                </li>

                <li>
                  <a href="#">علاقات المستثمرين والتقارير</a>
                </li>
                <li>
                  <a href="#">الاستدامة</a>
                </li>

                <li>
                  <a href="#">الأخبار</a>
                </li>
              </ul>
              <h2 class="nav__title">فرص العمل</h2>
            </li>
          </ul>
        </div>
      </div>

      <div class="container">
        <div class="footer-copy-write">
          <div class="copy-write">
            <p>سياسة الخصوصية | شروط الخدمة</p>
            <p>
              جميع الحقوق محفوظة لمكتبة جرير<span>&copy;</span> 2015. س.ت.
              1010032264. اونلاين س.ت. 1010654213
            </p>
          </div>
          <div dir="rtl" class="payment-options">
            <img src="../images/American-Express-Logo.png" alt="" />
            <img src="../images/Mastercard-logo.svg.png" alt="" />
            <img src="../images/Visa-Logo.png" alt="" />
            <img src="../images/1024px-Mada_Logo.svg.png" alt="" />
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/bookscript.js"></script>
  </body>
</html>
