<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <title>E-library</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/products.css" />
  </head>
  <body>
    <!-- header start -->
    <header>
      <div class="section-list">
        <nav>
          <ul dir="rtl" class="header-items">
            <div class="header-item">
              <i class="fas fa-user-alt"></i>
              <li>
                <a href="#">
                  <span class="show-signup-model"> سجل الان</span>
                  <span>أو</span>
                  <span class="show-login-model">ادخل لحسابك</span>
                </a>
              </li>
            </div>
            <div class="header-item">
              <i class="fas fa-user-alt"></i>
              <li><a href="#">الرئيسية</a></li>
            </div>
            <div class="header-item">
              <i class="fas fa-user-alt"></i>
              <li><a href="#">من نحن</a></li>
            </div>
            <div class="header-item">
              <i class="fas fa-user-alt"></i>
              <li><a href="#">اتصل بنا</a></li>
            </div>
            <div class="header-item">
              <i class="fas fa-user-alt"></i>
              <li><a href="#">المساعدة</a></li>
            </div>
            <div class="header-item">
              <i class="fas fa-user-alt"></i>
              <li><a href="#">سياسةالخصوصية</a></li>
            </div>
            <div class="header-item">
              <i class="fas fa-user-alt"></i>
              <li><a href="#">اليمن</a></li>
              <li><a dir="ltr" href="#">YER</a></li>
            </div>
            <div dir="ltr" class="header-item">
              <i class="fas fa-user-alt"></i>
              <li>English</li>
            </div>
          </ul>
        </nav>
      </div>
      <div dir="rtl" class="search-header">
        <div class="logo"><img src="../images/logo.png" alt="" /></div>
        <div class="search-section">
          <div class="search-bar">
            <input id="icon" type="search" placeholder="البحث" type="text" />
          </div>

          <div class="basket">
            <i class="fas fa-user-alt"></i>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->

    <!-- main start -->
    <main>
      <div class="login-model">
        <div dir="rtl" class="login-signup">
          <div class="login">
            <h1 class="login-title">تسجيل الدخول</h1>
            <form id="login-form" class="login-form">
              <div class="input-wrap">
                <input
                  name="email"
                  type="email"
                  title="البريد الالكتروني أو رقم الجوال"
                />
                <label for="name">البريد الالكتروني أو رقم الجوال</label>
              </div>
              <div class="input-wrap">
                <label for="password">كلمة السر</label>
                <input type="password" name="password" />
                <p class="forget">نسيت؟</p>
              </div>
              <button>تسجيل الدخول</button>
            </form>

            <div class="go-to-signup">
              <p>ليس لديك حساب؟</p>
              <p class="new-account-button">انشاء حساب جديد</p>
            </div>
          </div>
        </div>
      </div>
      <div class="signup-model">
        <!-- login and sign up section start -->
        <div dir="rtl" class="login-signup">
          <div class="signup">
            <h1 class="login-title">إنشاء حساب</h1>
            <form id="signup-form" class="signup-form">
              <div class="two-input">
                <div class="input-wrap">
                  <input name="number" type="tel" />
                  <label for="name">رقم الجوال</label>
                </div>
                <div class="input-wrap">
                  <label for="">رمز البلد</label>
                  <input type="password" name="password" />
                </div>
              </div>
              <p>سوف نرسل لك رمز التحقق عن طريق رسالة نصية</p>

              <div class="input-wrap">
                <label for="password">ارسال رمز التحقق</label>
                <input type="password" name="password" />
              </div>

              <div class="input-wrap">
                <label for="password">الاسم الاول</label>
                <input type="password" name="password" />
              </div>

              <div class="input-wrap">
                <label for="password">اسم العائله</label>
                <input type="password" name="password" />
              </div>

              <div class="input-wrap">
                <label for="password">البريد الالكتروني</label>
                <input type="password" name="password" />
              </div>

              <div class="input-wrap">
                <label for="password">تاكيد البريد الالكتروني</label>
                <input type="password" name="password" />
              </div>
              <div class="input-wrap">
                <label for="password">كلمة السر</label>
                <input type="password" name="password" />
              </div>

              <div class="checkbox-div">
                <span></span>
                <input type="checkbox" disabled="disabled" />
                <p>أوافق على الشروط والأحكام</p>
              </div>
              <div class="checkbox-div">
                <span></span>

                <input type="checkbox" disabled="disabled" />
                <p>التسجيل للانضمام للنشرة البريدية</p>
              </div>

              <button>انشاء حساب</button>
            </form>
          </div>
        </div>
        <!-- login and sign up section start end -->
      </div>
      <div class="slider-container">
        <div class="slide">
          <img src="../images/slider1.webp" alt="" />
        </div>
        <div class="slide">
          <img src="../images/slider2.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="../images/slider3.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="../images/slider4.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="../images/slider5.webp" alt="" />
        </div>
        <div class="slide">
          <img src="../images/slider6.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="../images/slider6.jpg" alt="" />
        </div>
        <div class="circles">
          <span class="circle active"></span>
          <span class="circle"></span>
          <span class="circle"></span>
          <span class="circle"></span>
          <span class="circle"></span>
          <span class="circle"></span>
          <span class="circle"></span>
        </div>
        <div class="btn-container">
          <button type="button" class="prevBtn">prev</button>
          <button type="button" class="nextBtn">next</button>
        </div>
      </div>

      <section dir="rtl" class="all-items">
        <div class="container">
          <div class="current-offers">
            <div class="product">
              <div class="img-container">
                <a href="book.html">
                  <img src="../images/book1front.jpg" alt="" />
                </a>
              </div>
              <div class="product-info">
                <div class="product-name">
                  <h2>
                    <a href="book.html">
                      <p>لانك الله رحلة الى السماء السابعة‎</p>
                    </a>
                  </h2>
                </div>
                <div class="price-box">
                  <div class="price">
                    <p>17.54</p>

                    <span class="price_currency"> رس </span>
                  </div>
                </div>
                <div class="book-link">
                  صيغ أخرى
                  <span>كتاب الكتروني</span>
                </div>
                <div class="actions">
                  <ul class="add-to-links">
                    <li class="add-to-links-item">
                      <svg
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon--default list__icon"
                        width="24"
                        height="24"
                      >
                        <defs>
                          <symbol
                            viewBox="0 0 24 24"
                            id="star"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                            ></path>
                          </symbol>
                        </defs>
                        <g fill="#42526E">
                          <path
                            d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                          ></path>
                        </g>
                      </svg>
                    </li>
                    <li class="add-to-links-item red-basket">
                      <svg
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                        class="button__icon"
                        width="22"
                        height="22"
                      >
                        <defs>
                          <symbol
                            viewBox="0 0 22 22"
                            id="cart-plus"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M1.408 0C.68 0 .085.604.085 1.342c0 .737.595 1.342 1.323 1.342A1.337 1.337 0 002.6.772a3 3 0 012.167 2.394l2.48 14.291a1.994 1.994 0 001.79 1.647 1.68 1.68 0 00-.352 1.022c0 .923.744 1.678 1.654 1.678a1.673 1.673 0 101.313-2.684h4.321a1.68 1.68 0 00-.34 1.006c0 .923.743 1.678 1.653 1.678s1.654-.755 1.654-1.678c0-.378-.13-.724-.34-1.006h1.663v-.67H9.204A1.326 1.326 0 017.9 17.34l-.448-2.58h10.586a2.326 2.326 0 002.252-1.801L22 5.735 5.65 4.382 5.42 3.05C5.112 1.288 3.6 0 1.835 0h-.428zM13.47 7.063c.254 0 .458.206.458.458v1.835h1.835a.458.458 0 110 .917h-1.835v1.834a.457.457 0 01-.458.459.457.457 0 01-.459-.459v-1.834h-1.834a.46.46 0 010-.917h1.834V7.52c0-.252.204-.458.459-.458z"
                            ></path>
                          </symbol>
                        </defs>
                        <g fill="#FFFFFF">
                          <path
                            d="M1.408 0C.68 0 .085.604.085 1.342c0 .737.595 1.342 1.323 1.342A1.337 1.337 0 002.6.772a3 3 0 012.167 2.394l2.48 14.291a1.994 1.994 0 001.79 1.647 1.68 1.68 0 00-.352 1.022c0 .923.744 1.678 1.654 1.678a1.673 1.673 0 101.313-2.684h4.321a1.68 1.68 0 00-.34 1.006c0 .923.743 1.678 1.653 1.678s1.654-.755 1.654-1.678c0-.378-.13-.724-.34-1.006h1.663v-.67H9.204A1.326 1.326 0 017.9 17.34l-.448-2.58h10.586a2.326 2.326 0 002.252-1.801L22 5.735 5.65 4.382 5.42 3.05C5.112 1.288 3.6 0 1.835 0h-.428zM13.47 7.063c.254 0 .458.206.458.458v1.835h1.835a.458.458 0 110 .917h-1.835v1.834a.457.457 0 01-.458.459.457.457 0 01-.459-.459v-1.834h-1.834a.46.46 0 010-.917h1.834V7.52c0-.252.204-.458.459-.458z"
                          ></path>
                        </g>
                      </svg>
                    </li>
                    <li class="add-to-links-item">
                      <svg
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon--default list__icon"
                        width="24"
                        height="24"
                      >
                        <defs>
                          <symbol
                            viewBox="0 0 24 24"
                            id="star"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                            ></path>
                          </symbol>
                        </defs>
                        <g fill="#42526E">
                          <path
                            d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                          ></path>
                        </g>
                      </svg>
                    </li>
                  </ul>
                </div>
                <div class="timer">
                  <p>الوقت المتبقي:</p>
                  <p class="clock">12:33:44</p>
                </div>
              </div>
            </div>
            <div class="product">
              <div class="img-container">
                <a href="book.html">
                  <img src="../images/book1front.jpg" alt="" />
                </a>
              </div>
              <div class="product-info">
                <div class="product-name">
                  <h2>
                    <a href="book.html">
                      <p>لانك الله رحلة الى السماء السابعة‎</p>
                    </a>
                  </h2>
                </div>
                <div class="price-box">
                  <div class="price">
                    <p>17.54</p>

                    <span class="price_currency"> رس </span>
                  </div>
                </div>
                <div class="book-link">
                  صيغ أخرى
                  <span>كتاب الكتروني</span>
                </div>
                <div class="actions">
                  <ul class="add-to-links">
                    <li class="add-to-links-item">
                      <svg
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon--default list__icon"
                        width="24"
                        height="24"
                      >
                        <defs>
                          <symbol
                            viewBox="0 0 24 24"
                            id="star"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                            ></path>
                          </symbol>
                        </defs>
                        <g fill="#42526E">
                          <path
                            d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                          ></path>
                        </g>
                      </svg>
                    </li>
                    <li class="add-to-links-item red-basket">
                      <svg
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                        class="button__icon"
                        width="22"
                        height="22"
                      >
                        <defs>
                          <symbol
                            viewBox="0 0 22 22"
                            id="cart-plus"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M1.408 0C.68 0 .085.604.085 1.342c0 .737.595 1.342 1.323 1.342A1.337 1.337 0 002.6.772a3 3 0 012.167 2.394l2.48 14.291a1.994 1.994 0 001.79 1.647 1.68 1.68 0 00-.352 1.022c0 .923.744 1.678 1.654 1.678a1.673 1.673 0 101.313-2.684h4.321a1.68 1.68 0 00-.34 1.006c0 .923.743 1.678 1.653 1.678s1.654-.755 1.654-1.678c0-.378-.13-.724-.34-1.006h1.663v-.67H9.204A1.326 1.326 0 017.9 17.34l-.448-2.58h10.586a2.326 2.326 0 002.252-1.801L22 5.735 5.65 4.382 5.42 3.05C5.112 1.288 3.6 0 1.835 0h-.428zM13.47 7.063c.254 0 .458.206.458.458v1.835h1.835a.458.458 0 110 .917h-1.835v1.834a.457.457 0 01-.458.459.457.457 0 01-.459-.459v-1.834h-1.834a.46.46 0 010-.917h1.834V7.52c0-.252.204-.458.459-.458z"
                            ></path>
                          </symbol>
                        </defs>
                        <g fill="#FFFFFF">
                          <path
                            d="M1.408 0C.68 0 .085.604.085 1.342c0 .737.595 1.342 1.323 1.342A1.337 1.337 0 002.6.772a3 3 0 012.167 2.394l2.48 14.291a1.994 1.994 0 001.79 1.647 1.68 1.68 0 00-.352 1.022c0 .923.744 1.678 1.654 1.678a1.673 1.673 0 101.313-2.684h4.321a1.68 1.68 0 00-.34 1.006c0 .923.743 1.678 1.653 1.678s1.654-.755 1.654-1.678c0-.378-.13-.724-.34-1.006h1.663v-.67H9.204A1.326 1.326 0 017.9 17.34l-.448-2.58h10.586a2.326 2.326 0 002.252-1.801L22 5.735 5.65 4.382 5.42 3.05C5.112 1.288 3.6 0 1.835 0h-.428zM13.47 7.063c.254 0 .458.206.458.458v1.835h1.835a.458.458 0 110 .917h-1.835v1.834a.457.457 0 01-.458.459.457.457 0 01-.459-.459v-1.834h-1.834a.46.46 0 010-.917h1.834V7.52c0-.252.204-.458.459-.458z"
                          ></path>
                        </g>
                      </svg>
                    </li>
                    <li class="add-to-links-item">
                      <svg
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon--default list__icon"
                        width="24"
                        height="24"
                      >
                        <defs>
                          <symbol
                            viewBox="0 0 24 24"
                            id="star"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                            ></path>
                          </symbol>
                        </defs>
                        <g fill="#42526E">
                          <path
                            d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                          ></path>
                        </g>
                      </svg>
                    </li>
                  </ul>
                </div>
                <div class="timer">
                  <p>الوقت المتبقي:</p>
                  <p class="clock">12:33:44</p>
                </div>
              </div>
            </div>
            <div class="product">
              <div class="img-container">
                <a href="book.html">
                  <img src="../images/book1front.jpg" alt="" />
                </a>
              </div>
              <div class="product-info">
                <div class="product-name">
                  <h2>
                    <a href="book.html">
                      <p>لانك الله رحلة الى السماء السابعة‎</p>
                    </a>
                  </h2>
                </div>
                <div class="price-box">
                  <div class="price">
                    <p>17.54</p>

                    <span class="price_currency"> رس </span>
                  </div>
                </div>
                <div class="book-link">
                  صيغ أخرى
                  <span>كتاب الكتروني</span>
                </div>
                <div class="actions">
                  <ul class="add-to-links">
                    <li class="add-to-links-item">
                      <svg
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon--default list__icon"
                        width="24"
                        height="24"
                      >
                        <defs>
                          <symbol
                            viewBox="0 0 24 24"
                            id="star"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                            ></path>
                          </symbol>
                        </defs>
                        <g fill="#42526E">
                          <path
                            d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                          ></path>
                        </g>
                      </svg>
                    </li>
                    <li class="add-to-links-item red-basket">
                      <svg
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                        class="button__icon"
                        width="22"
                        height="22"
                      >
                        <defs>
                          <symbol
                            viewBox="0 0 22 22"
                            id="cart-plus"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M1.408 0C.68 0 .085.604.085 1.342c0 .737.595 1.342 1.323 1.342A1.337 1.337 0 002.6.772a3 3 0 012.167 2.394l2.48 14.291a1.994 1.994 0 001.79 1.647 1.68 1.68 0 00-.352 1.022c0 .923.744 1.678 1.654 1.678a1.673 1.673 0 101.313-2.684h4.321a1.68 1.68 0 00-.34 1.006c0 .923.743 1.678 1.653 1.678s1.654-.755 1.654-1.678c0-.378-.13-.724-.34-1.006h1.663v-.67H9.204A1.326 1.326 0 017.9 17.34l-.448-2.58h10.586a2.326 2.326 0 002.252-1.801L22 5.735 5.65 4.382 5.42 3.05C5.112 1.288 3.6 0 1.835 0h-.428zM13.47 7.063c.254 0 .458.206.458.458v1.835h1.835a.458.458 0 110 .917h-1.835v1.834a.457.457 0 01-.458.459.457.457 0 01-.459-.459v-1.834h-1.834a.46.46 0 010-.917h1.834V7.52c0-.252.204-.458.459-.458z"
                            ></path>
                          </symbol>
                        </defs>
                        <g fill="#FFFFFF">
                          <path
                            d="M1.408 0C.68 0 .085.604.085 1.342c0 .737.595 1.342 1.323 1.342A1.337 1.337 0 002.6.772a3 3 0 012.167 2.394l2.48 14.291a1.994 1.994 0 001.79 1.647 1.68 1.68 0 00-.352 1.022c0 .923.744 1.678 1.654 1.678a1.673 1.673 0 101.313-2.684h4.321a1.68 1.68 0 00-.34 1.006c0 .923.743 1.678 1.653 1.678s1.654-.755 1.654-1.678c0-.378-.13-.724-.34-1.006h1.663v-.67H9.204A1.326 1.326 0 017.9 17.34l-.448-2.58h10.586a2.326 2.326 0 002.252-1.801L22 5.735 5.65 4.382 5.42 3.05C5.112 1.288 3.6 0 1.835 0h-.428zM13.47 7.063c.254 0 .458.206.458.458v1.835h1.835a.458.458 0 110 .917h-1.835v1.834a.457.457 0 01-.458.459.457.457 0 01-.459-.459v-1.834h-1.834a.46.46 0 010-.917h1.834V7.52c0-.252.204-.458.459-.458z"
                          ></path>
                        </g>
                      </svg>
                    </li>
                    <li class="add-to-links-item">
                      <svg
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon--default list__icon"
                        width="24"
                        height="24"
                      >
                        <defs>
                          <symbol
                            viewBox="0 0 24 24"
                            id="star"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                            ></path>
                          </symbol>
                        </defs>
                        <g fill="#42526E">
                          <path
                            d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                          ></path>
                        </g>
                      </svg>
                    </li>
                  </ul>
                </div>
                <div class="timer">
                  <p>الوقت المتبقي:</p>
                  <p class="clock">12:33:44</p>
                </div>
              </div>
            </div>
            <div class="product">
              <div class="img-container">
                <a href="book.html">
                  <img src="../images/book1front.jpg" alt="" />
                </a>
              </div>
              <div class="product-info">
                <div class="product-name">
                  <h2>
                    <a href="book.html">
                      <p>لانك الله رحلة الى السماء السابعة‎</p>
                    </a>
                  </h2>
                </div>
                <div class="price-box">
                  <div class="price">
                    <p>17.54</p>

                    <span class="price_currency"> رس </span>
                  </div>
                </div>
                <div class="book-link">
                  صيغ أخرى
                  <span>كتاب الكتروني</span>
                </div>
                <div class="actions">
                  <ul class="add-to-links">
                    <li class="add-to-links-item">
                      <svg
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon--default list__icon"
                        width="24"
                        height="24"
                      >
                        <defs>
                          <symbol
                            viewBox="0 0 24 24"
                            id="star"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                            ></path>
                          </symbol>
                        </defs>
                        <g fill="#42526E">
                          <path
                            d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                          ></path>
                        </g>
                      </svg>
                    </li>
                    <li class="add-to-links-item red-basket">
                      <svg
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                        class="button__icon"
                        width="22"
                        height="22"
                      >
                        <defs>
                          <symbol
                            viewBox="0 0 22 22"
                            id="cart-plus"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M1.408 0C.68 0 .085.604.085 1.342c0 .737.595 1.342 1.323 1.342A1.337 1.337 0 002.6.772a3 3 0 012.167 2.394l2.48 14.291a1.994 1.994 0 001.79 1.647 1.68 1.68 0 00-.352 1.022c0 .923.744 1.678 1.654 1.678a1.673 1.673 0 101.313-2.684h4.321a1.68 1.68 0 00-.34 1.006c0 .923.743 1.678 1.653 1.678s1.654-.755 1.654-1.678c0-.378-.13-.724-.34-1.006h1.663v-.67H9.204A1.326 1.326 0 017.9 17.34l-.448-2.58h10.586a2.326 2.326 0 002.252-1.801L22 5.735 5.65 4.382 5.42 3.05C5.112 1.288 3.6 0 1.835 0h-.428zM13.47 7.063c.254 0 .458.206.458.458v1.835h1.835a.458.458 0 110 .917h-1.835v1.834a.457.457 0 01-.458.459.457.457 0 01-.459-.459v-1.834h-1.834a.46.46 0 010-.917h1.834V7.52c0-.252.204-.458.459-.458z"
                            ></path>
                          </symbol>
                        </defs>
                        <g fill="#FFFFFF">
                          <path
                            d="M1.408 0C.68 0 .085.604.085 1.342c0 .737.595 1.342 1.323 1.342A1.337 1.337 0 002.6.772a3 3 0 012.167 2.394l2.48 14.291a1.994 1.994 0 001.79 1.647 1.68 1.68 0 00-.352 1.022c0 .923.744 1.678 1.654 1.678a1.673 1.673 0 101.313-2.684h4.321a1.68 1.68 0 00-.34 1.006c0 .923.743 1.678 1.653 1.678s1.654-.755 1.654-1.678c0-.378-.13-.724-.34-1.006h1.663v-.67H9.204A1.326 1.326 0 017.9 17.34l-.448-2.58h10.586a2.326 2.326 0 002.252-1.801L22 5.735 5.65 4.382 5.42 3.05C5.112 1.288 3.6 0 1.835 0h-.428zM13.47 7.063c.254 0 .458.206.458.458v1.835h1.835a.458.458 0 110 .917h-1.835v1.834a.457.457 0 01-.458.459.457.457 0 01-.459-.459v-1.834h-1.834a.46.46 0 010-.917h1.834V7.52c0-.252.204-.458.459-.458z"
                          ></path>
                        </g>
                      </svg>
                    </li>
                    <li class="add-to-links-item">
                      <svg
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon--default list__icon"
                        width="24"
                        height="24"
                      >
                        <defs>
                          <symbol
                            viewBox="0 0 24 24"
                            id="star"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                            ></path>
                          </symbol>
                        </defs>
                        <g fill="#42526E">
                          <path
                            d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                          ></path>
                        </g>
                      </svg>
                    </li>
                  </ul>
                </div>
                <div class="timer">
                  <p>الوقت المتبقي:</p>
                  <p class="clock">12:33:44</p>
                </div>
              </div>
            </div>
            <div class="product">
              <div class="img-container">
                <a href="book.html">
                  <img src="../images/book1front.jpg" alt="" />
                </a>
              </div>
              <div class="product-info">
                <div class="product-name">
                  <h2>
                    <a href="book.html">
                      <p>لانك الله رحلة الى السماء السابعة‎</p>
                    </a>
                  </h2>
                </div>
                <div class="price-box">
                  <div class="price">
                    <p>17.54</p>

                    <span class="price_currency"> رس </span>
                  </div>
                </div>
                <div class="book-link">
                  صيغ أخرى
                  <span>كتاب الكتروني</span>
                </div>
                <div class="actions">
                  <ul class="add-to-links">
                    <li class="add-to-links-item">
                      <svg
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon--default list__icon"
                        width="24"
                        height="24"
                      >
                        <defs>
                          <symbol
                            viewBox="0 0 24 24"
                            id="star"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                            ></path>
                          </symbol>
                        </defs>
                        <g fill="#42526E">
                          <path
                            d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                          ></path>
                        </g>
                      </svg>
                    </li>
                    <li class="add-to-links-item red-basket">
                      <svg
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                        class="button__icon"
                        width="22"
                        height="22"
                      >
                        <defs>
                          <symbol
                            viewBox="0 0 22 22"
                            id="cart-plus"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M1.408 0C.68 0 .085.604.085 1.342c0 .737.595 1.342 1.323 1.342A1.337 1.337 0 002.6.772a3 3 0 012.167 2.394l2.48 14.291a1.994 1.994 0 001.79 1.647 1.68 1.68 0 00-.352 1.022c0 .923.744 1.678 1.654 1.678a1.673 1.673 0 101.313-2.684h4.321a1.68 1.68 0 00-.34 1.006c0 .923.743 1.678 1.653 1.678s1.654-.755 1.654-1.678c0-.378-.13-.724-.34-1.006h1.663v-.67H9.204A1.326 1.326 0 017.9 17.34l-.448-2.58h10.586a2.326 2.326 0 002.252-1.801L22 5.735 5.65 4.382 5.42 3.05C5.112 1.288 3.6 0 1.835 0h-.428zM13.47 7.063c.254 0 .458.206.458.458v1.835h1.835a.458.458 0 110 .917h-1.835v1.834a.457.457 0 01-.458.459.457.457 0 01-.459-.459v-1.834h-1.834a.46.46 0 010-.917h1.834V7.52c0-.252.204-.458.459-.458z"
                            ></path>
                          </symbol>
                        </defs>
                        <g fill="#FFFFFF">
                          <path
                            d="M1.408 0C.68 0 .085.604.085 1.342c0 .737.595 1.342 1.323 1.342A1.337 1.337 0 002.6.772a3 3 0 012.167 2.394l2.48 14.291a1.994 1.994 0 001.79 1.647 1.68 1.68 0 00-.352 1.022c0 .923.744 1.678 1.654 1.678a1.673 1.673 0 101.313-2.684h4.321a1.68 1.68 0 00-.34 1.006c0 .923.743 1.678 1.653 1.678s1.654-.755 1.654-1.678c0-.378-.13-.724-.34-1.006h1.663v-.67H9.204A1.326 1.326 0 017.9 17.34l-.448-2.58h10.586a2.326 2.326 0 002.252-1.801L22 5.735 5.65 4.382 5.42 3.05C5.112 1.288 3.6 0 1.835 0h-.428zM13.47 7.063c.254 0 .458.206.458.458v1.835h1.835a.458.458 0 110 .917h-1.835v1.834a.457.457 0 01-.458.459.457.457 0 01-.459-.459v-1.834h-1.834a.46.46 0 010-.917h1.834V7.52c0-.252.204-.458.459-.458z"
                          ></path>
                        </g>
                      </svg>
                    </li>
                    <li class="add-to-links-item">
                      <svg
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon--default list__icon"
                        width="24"
                        height="24"
                      >
                        <defs>
                          <symbol
                            viewBox="0 0 24 24"
                            id="star"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                            ></path>
                          </symbol>
                        </defs>
                        <g fill="#42526E">
                          <path
                            d="M12 0L8.75 8.125 0 8.719l6.719 5.625-2.125 8.469L12 18.155l7.406 4.657-2.125-8.47L24 8.72l-8.75-.594z"
                          ></path>
                        </g>
                      </svg>
                    </li>
                  </ul>
                </div>
                <div class="timer">
                  <p>الوقت المتبقي:</p>
                  <p class="clock">12:33:44</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- main end -->

    <!-- footer end -->
    <footer>
      <div class="footer-lists">
        <div class="container">
          <ul class="footer__nav" dir="rtl">
            <li class="nav__item">
              <h2 class="nav__title">انضم الى نشرتنا البريدية</h2>
              <form>
                <input
                  id="icon"
                  type="text"
                  disabled
                  placeholder="ادخل البريد الابكتروني"
                />
                <button class="footer__btn" dir="ltr">اشتراك</button>
              </form>
              <h2 class="nav__title">تواصل معنا</h2>

              <ul class="nav__ul">
                <i class="fas fs-facebook-f"></i>
                <i class="fas fa-user-alt"></i>
                <i class="fas fa-user-alt"></i>
                <i class="fas fa-user-alt"></i>
                <i class="fas fa-user-alt"></i>
                <i class="fas fa-user-alt"></i>
                <i class="fas fa-user-alt"></i>
              </ul>
            </li>

            <li class="nav__item">
              <h2 class="nav__title">خدمة العملاء</h2>

              <ul class="nav__ul">
                <li>
                  <a href="#">مبيعات الشركات</a>
                </li>

                <li>
                  <a href="#">الأسئلة المتكرر</a>
                </li>

                <li>
                  <a href="#">دليل التسوق والمطبوعات</a>
                </li>

                <li>
                  <a href="#">مواقع المعارض</a>
                </li>

                <li>
                  <a href="#">سياسةالضمان</a>
                </li>

                <li>
                  <a href="#">سياسة الاسترجاع والاستبدال</a>
                </li>
                <li>
                  <a href="#">اتصل بنا </a>
                  <p>920000089</p>
                </li>
              </ul>
            </li>

            <li class="nav__item">
              <h2 class="nav__title">خدمات جرير</h2>

              <ul class="nav__ul">
                <li>
                  <a href="#">خدمة تقسيط المشتريات</a>
                </li>

                <li>
                  <a href="#">خدمات مابعد البيع</a>
                </li>

                <li>
                  <a href="#">خدمة الحماية الشاملة</a>
                </li>
                <li>
                  <a href="#">خدمة أجهزة ابل</a>
                </li>

                <li>
                  <a href="#">بطاقة خصم جرير</a>
                </li>

                <li>
                  <a href="#">بطاقة جرير للهدايا</a>
                </li>
              </ul>
            </li>

            <li class="nav__item">
              <h2 class="nav__title">روابط سريعة</h2>

              <ul class="nav__ul">
                <li>
                  <a href="#">اصدارات جرير</a>
                </li>

                <li>
                  <a href="#">قارئ جرير</a>
                </li>

                <li>
                  <a href="#">شركاء برامج المكافئات</a>
                </li>
                <li>
                  <a href="#">خدمات شركات الاتصالات</a>
                </li>

                <li>
                  <a href="#">بطاقة خصم جرير</a>
                </li>

                <li>
                  <a href="#">بطاقة جرير للهدايا</a>
                </li>
              </ul>
            </li>

            <li class="nav__item">
              <h2 class="nav__title">عن جرير</h2>

              <ul class="nav__ul">
                <li>
                  <a href="#">من نحن</a>
                </li>

                <li>
                  <a href="#">الحوكمة</a>
                </li>

                <li>
                  <a href="#">علاقات المستثمرين والتقارير</a>
                </li>
                <li>
                  <a href="#">الاستدامة</a>
                </li>

                <li>
                  <a href="#">الأخبار</a>
                </li>
              </ul>
              <h2 class="nav__title">فرص العمل</h2>
            </li>
          </ul>
        </div>
      </div>

      <div class="container">
        <div class="footer-copy-write">
          <div class="copy-write">
            <p>سياسة الخصوصية | شروط الخدمة</p>
            <p>
              جميع الحقوق محفوظة لمكتبة جرير<span>&copy;</span> 2015. س.ت.
              1010032264. اونلاين س.ت. 1010654213
            </p>
          </div>
          <div dir="rtl" class="payment-options">
            <img src="../images/American-Express-Logo.png" alt="" />
            <img src="../images/Mastercard-logo.svg.png" alt="" />
            <img src="../images/Visa-Logo.png" alt="" />
            <img src="../images/1024px-Mada_Logo.svg.png" alt="" />
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/scripts.js"></script>
  </body>
</html>
